*{margin:0px auto;} 
body{
    font-family: arial;
        background: #757F9A;
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
background: linear-gradient(to right, #D7DDE8, #757F9A);
}
#header{
    padding-top: 20px;    
    max-width: 93%;
    min-width: 60%;
    height: 80px;
    padding-left: 100px;
    color: black;
    background: -webkit-linear-gradient(to top, #434343, #000000); 
    background: linear-gradient(to bottom, #434343, #000000);
    font-size: 25px;    
    text-shadow: 0 0 10px white,
                 0 0 10px white,
                 0 0 10px white,
                 0 0 10px white;
}
#navigation{
    
  margin-left: 5px;
    height: 50px;
    padding-left: 60px;
    padding-top: 20px;
    margin-top: 10px;
}
#navigation a{
    color: black;
  border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 47px 15px 48px;
    border: 2px solid black;
    text-decoration: none;
    display: initial;
}   
#navigation li{
    display:initial;
}
#navigation a:hover,a.on{
    background: -webkit-linear-gradient(to top, #434343, #000000); 
    background: linear-gradient(to bottom, #434343, #000000);
    color: white;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0 0 5px white,
                0 0 5px white,
                0 0 5px white,
                0 0 5px white;

}
#nav-bar{
  border-radius: 7px;
  height: 40px;
    background: -webkit-linear-gradient(to bottom, #434343, #000000); 
    background: linear-gradient(to top, #434343, #000000);
  color:white;
  padding-left: 45px;
  padding-top: 20px;
  margin-right: 103px;
  margin-left: 103px; 
}
.search-bar .search-container {
  float: right;  
  margin-top: -43.8px;
  margin-right: 100px;
}
.search-bar input[type=text] {
  padding: 6px;
  border-radius: 7px;
  font-size: 17px;
  height: 40px;
  width: 130%;
  border: none;
}
 input[type=text]:hover input[type=text].on{
  width: 130%;
  background-color: black;
}
.container {
            width: 50%;
            margin: auto;
            overflow: hidden;
}
#contact-section {
            margin-top: 20px;
            text-align: left;
}
#contact-section .container h2 {
            color: black;
            letter-spacing: 2px;
            font-size: 40px;
            text-shadow: 0 0 5px white,
                0 0 5px white,
                0 0 5px white,
                0 0 5px white;
}
.contact-form {
            position: absolute;
            left: 100px;
}
#contact-section input {
            padding: 10px;
            margin: 10px;
            width: 70%;
            opacity: 0.7;
    background: -webkit-linear-gradient(to top, #434343, #000000); 
    background: linear-gradient(to bottom, #434343, #000000);
            color: white;
            border: none;
            border-radius: 5px;
            outline: none;
}
textarea {
            padding: 10px;
            margin: 10px;
            width: 70%;
            border-radius: 5px;
    background: -webkit-linear-gradient(to top, #434343, #000000); 
    background: linear-gradient(to bottom, #434343, #000000);
            color: white;
            border: none;
            outline: none;
            opacity: 0.7;
}

::placeholder {
            color: white;
}
.submit {
            width: 30%;
            background: white;
            padding: 4px;
            transition: 0.5s;
            outline: none;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 2px;
            height: 33px;
            text-align: center;
            cursor: pointer;
            letter-spacing: 2px;
            margin-left: 10px;
            border: 2px solid black;
            color: black;
            border-radius: 5px;
}
.submit:hover {
            border: 2px solid white;
            color: white;
            border-radius: 10px;
    background: -webkit-linear-gradient(to top, #434343, #000000); 
    background: linear-gradient(to bottom, #434343, #000000);
            transition: 0.5s;
            width: 50%;
            cursor: pointer;
            box-shadow: 0 0 10px black,
                0 0 10px black,
                0 0 10px black;
        }
        
        @media(max-width:768px) {
            #contact-section .contact-form {
                display: block;
                width: 100%;
                text-align: center;
            }
            #contact-section .submit {
                width: 50%;
            }
        }
footer{

    margin-top: 500px;
  width: 100%;
  height: 100px;
    background: -webkit-linear-gradient(to bottom, #434343, #000000); 
    background: linear-gradient(to top, #434343, #000000);
}
.social-media{
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}
.social-media a span{
  color: white;
  font-size: 30px;
  color: white;
  transition: 0.2s;
  margin: 6px 10px 0 10px;


}
.social-media a span:hover{
  color:white;
  text-shadow: 0 0 10px aqua,
               0 0 10px aqua,
               0 0 10px aqua;

}
.H-social-media{
  height: 1px;
  text-align: right;  
  color: white;
  margin-top: -px;
  margin-right: 10px;
}
.H-social-media a span{
  color: white;
  font-size: 25px;
  transition: 0.4s;
  margin-right: 25px;
}
.H-social-media a span:hover{
  text-shadow: 0 0 10px aqua,
               0 0 10px aqua,
               0 0 10px aqua;

}
.copy-right{
  width: 100%;
  height: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 34px;
  font-size: 12px;
}
